
.topbar{

  background-color: #075589;

  .topdate{

    display: block;
    font-size: 12px;
    color: #fff;
    height: 30px;
    line-height: 30px;

  }

}
.lobg{

  background-color: #1575b1;
}

.zmenu{

  border-bottom: 1px solid #e5e5e5;

  ul{
    position: relative;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 0;

    li{
      display: inline-flex;
      font-size: 14px;
    }
    .zitem{


      a{
        display: inline-block;
        text-decoration: none;
        padding: 15px 30px 15px 30px;
        color: #333333;
      }
    }
    .zitem-active{
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 3px;
      background-color: rgb(32, 160, 255);
      z-index: 1;
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      list-style: none;
    }
  }

}